*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


#container
{
	width:100%;
	height:100vh;
	border:1px solid black;
	display: flex;
	justify-content: center;
}

#contain 
{
	width:100%;
	height:100vh;
	background-color: black;
	opacity:0.6;
	display: none;
	top:0;
	position: absolute;


}

#container span 
{
	bottom:0;
	position: absolute;
	right:0;
	margin-bottom: 40px;
	font-size: 60px;
	margin-right:50px;
	cursor: pointer;
}

#content 
{
	width:100%;
	height:100vh;
	
	display: flex;
	justify-content: center;

}
#contact_form
{
	width:300px;
	height: 200px;
	background-color: red;
}

#contact_form  input 
{
	width:75%;
	height: 50px;
	margin-top:25px;
	margin-left:5px;
	font-size: 22px;

}

#contact_form i 
{
	color:white;
	margin-left:10px;
	
	font-size:30px;
}

#get_contact
{
	width:400px;
	height:100vh;

	overflow: scroll;
}

#contact1
{
	width:100%;
	height:150px;
	background-color: grey;
	margin-top:10px;

}

#contact1 input
{

	width:75%;
	height: 50px;
	font-size: 25px;
	color: black;
	margin-top:20px;
}

#contact1 i 
{
	font-size: 25px;
	color:white;
	margin-left: 10px;
}
