*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body 
{
	background-color:red;
}

#profile_box
{
	width:150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fiexd;
	left:0;
	top:0;
}
#profile_pic
{
	width:100px;
	height: 100px;
	border:4px solid white;
	box-shadow: 0px 0px 10px #ccc;
	border-radius: 50%;
}

#new_contact
{
	font-size: 50px;
	bottom:0px;
	right:0;
	position: fixed;
	color:purple;
	cursor: pointer;
}
#contact_bg
{
	width:100%;
	height: 100vh;
	background-color:rgba(0,0,0,0.7);
	position: absolute;
	top:0;
	left:0;
	display: none;
}

#add_contact_box
{
	width:35%;
	height:auto;
	background-color: white;
	box-shadow: 0px 0px 10px #ccc;
	border-radius: 15px;
	padding:30px;
}

#add_contact_box h1 
{
	text-align: center;
	color:purple;
}
#c_name,#c_number
{
	width:100%;
	padding:10px;
	border: none;
	border:1px solid purple;
	border-left:5px solid purple;
	margin-top:10px;
	margin-bottom: 10px;
}


#add,#close 
{
	width:100px;
	padding:10px;
	background-color: purple;
	border: none;
	color:white;
	font-size: 20px;
}

#main_all_contact_box
{
	width:35%;
	height: 100vh;
	border:1px solid white;
	position: absolute;	

}



