*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body 
{
	background: #4CB8C4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3CD3AD, #4CB8C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#profile_box
{
    width:150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left:0;
    top:0;
}

#profile_pic
{
	width:100px;
	height: 100px;
	border:4px solid white;
	box-shadow: 0px 0px 10px #ccc;
	border-radius: 50%;
}

#new_contact
{
	font-size: 50px;
	bottom:0px;
	right:0;
	position: fixed;
	color:purple;
	cursor: pointer;
}
#contact_bg
{
	width:100%;
	height: 100vh;
	background-color:rgba(0,0,0,0.7);
	position: absolute;
	top:0;
	left:0;
	display: none;
}

#add_contact_box
{
	width:35%;
	height:auto;
	background-color: white;
	box-shadow: 0px 0px 10px #ccc;
	border-radius: 15px;
	padding:30px;
}

#add_contact_box h1 
{
	text-align: center;
	color:purple;
}
#c_name,#c_number
{
	width:100%;
	padding:10px;
	border: none;
	border:1px solid purple;
	border-left:5px solid purple;
	margin-top:10px;
	margin-bottom: 10px;
}

/* main contact box */
#contact{
    width: 350px;
    background: #fff;
    padding: 15px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    position: relative;
}

/* name row */
#contact p{
    font-size: 18px;
    color: #333;
}

/* user icon */
#contact p i{
    margin-right: 8px;
    color: #555;
}

/* edit delete icons */



/* horizontal line */




#add,#close 
{
	width:100px;
	padding:10px;
	background-color: purple;
	border: none;
	color:white;
	font-size: 20px;
}

#main_all_contact_box
{
	width:35%;
	height: 100vh;
	border:1px solid white;
	position: absolute;
	background-color: white;
	top:0;	
	margin-left:30%;
	box-shadow: 0px 0px 20px black;
	overflow: scroll;
	overflow-x: hidden;


}

#contact_header
{
	width:100%;
	height:20%;
	
	padding-top:12px;

}

#contact_header,h1 
{
	text-align: center;
	font-size: 45px;
	font-family: ubuntu;

}

#search 
{
	width:100%;
	padding:10px;
	font-size: 20px;
	border:none;
	outline: none;
	border-bottom: 1px solid black;
	background-color: inherit;
	padding-left:3px;
}

#all_contact_box
{
	width:100%;
	height: 80%;
	border: 2px solid green;
	overflow: scroll;
}

#tool
{
	
	width:25%;
	float:right;
	margin-top:-10px;
}

#tool i 
{
	font-size: 20px;
	margin:5px;
}
