
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

#container{
	width: 100%;
	height:100vh;
	border:;
	background: #36D1DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: flex;
	justify-content: center;
	align-items: center;


}

#contain{
	width:400px;
	height:auto;
	padding-bottom: 50px;
	
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 0px 10px #ccc;
}

#signup
{
	width:100%;
	height: 100%;
	background-color:white;
	border-radius: 15px;
	display:none;
	padding-top:20px;

}

#login
{
	width:100%;
	height: 100%;
	background-color: white;
	
	border-radius: 15px;
	padding-left:10px;

}

#signup,h1
{
	text-align: center;
	font-size: 50px;
	

}

#username,#email,#password,#login_email,#login_password
{
	width:90%;
	height:40px;
	border: none;
	outline: none;
	border-bottom: 2px solid #ccc;
	padding-left:5px;
	font-size: 17px;
	margin:10px;
	

}

#submit_btn,#login_btn
{
		width:90%;
	height:40px;
	
	outline: none;
	cursor: pointer;
	padding-left:5px;
	font-size: 20px;
	margin-top:30px;
}

#signup,p 
{
	font-size: 20px;
	margin-top: 5px;
}

#login_span,#singup_span
{
	
	color:blue;
	cursor: pointer;

}
#notice_email
{
	color:red;
	left:0;
	display: none;
	margin-left:30px;
}